

    </div><!-- /.ui-content-container -->

    <div class="ui-footer">
        <div class="ui-row">
            <div class="ui-col ui-col-25"><a href="/">
                    主页
                </a></div>
            <div class="ui-col ui-col-25"><a href="/categories">
                    分类
                </a></div>
            <div class="ui-col ui-col-25"><a href="/favarites">
                    收藏
                </a></div>
            <div class="ui-col ui-col-25"><a href="/add">
                    添加
                </a></div>
        </div>
    </div>
    <script src="/bower_components/zepto/zepto.min.js"></script>
    <script src="/bower_components/iscroll/build/iscroll-lite.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
