

    </div>

    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="/">
        <i class="icon ion-home"></i>主页
      </a>
       <a class="tab-item" href="/categories">
        <i class="icon ion-star"></i>分类
      </a>
      <a class="tab-item" href="/favarites">
        <i class="icon ion-star"></i>收藏
      </a>
      <a class="tab-item" href="/add">
        <i class="icon ion-plus"></i>添加
      </a>
    </div>

    <script src="/bower_components/zepto/zepto.min.js"></script>
  </body>
</html>
