<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/bower_components/ionic/release/css/ionic.min.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>

    <div class="bar bar-header">
      <h1 class="title"><%= title %></h1>
    </div>

    <div class="content has-header has-footer">

