<% include includes/header.ejs %>
<div class="ui-content js-active">
    <form action="/categories" method="post">
        <div class="ui-form-item ui-form-item-pure ui-border-b">
            <input type="text" name="name" placeholder="feed's name">
            <a href="#" class="ui-icon-close"></a>
        </div>
        <div class="ui-form-item ui-form-item-pure ui-border-b">
            <input type="text" name="url" placeholder="feed's url">
            <a href="#" class="ui-icon-close"></a>
        </div>
        <button class="ui-btn-lg ui-btn-primary">添加</button>

    </form>
</div>





<% include includes/footer.ejs %>