<% include includes/header.ejs %>



   <form action="/categories" method="post">
     <div class="list">
       <label class="item item-input">
         <input type="text" name="name" placeholder="feed's name">
       </label>
       <label class="item item-input">
         <input type="text" name="url" placeholder="feed's url">
       </label>
      <button class="button button-block button-positive">添加</button>
     </div>
   </form>


<% include includes/footer.ejs %>