<% include includes/header.ejs %>
<div class="ui-content js-active">
    <ul class="list">
        <% for (var i = 0; i < articles.length; i++) { %>
        <li class="item">
            <a href="/articles/<%= articles[i]._id %>"><%= articles[i].title %></a>
        </li>
        <% };%>
    </ul>
</div>
<% include includes/footer.ejs %>