.list a {
  color: #00B7FF;
  text-decoration: none;

}

.list a:visited {
    color: #eee;
}

/*  disable nowrap */
.item p {
    white-space: normal;
}


.content {
    height: 100px;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/
}

